{{progress-indicator class="progress-wrap progress"
  passed=passed
  failed=failed
  total=total
  time=elapsed
  running=isRunning
}}

<div class="reporter">
  <input type="text" class="filter-tests" placeholder="Filter tests">
  <ul class="results">
    {{#each modules as |mod|}}
      {{module-results mod=mod }}
    {{/each}}
  </ul>
</div>

{{layout-chooser currentLayout=currentLayout selectCurrentLayout=(action 'selectCurrentLayout')}}

<iframe src="http://localhost:4200/tests?module=Acceptance%3A%20Index"></iframe>