{{progress-indicator class="progress-wrap progress"
  passed=passed
  failed=failed
  total=total
  time=elapsed
  running=isRunning
}}

<div class="reporter">
  <input type="text" class="filter-tests" placeholder="Filter tests">
  <ol class="results">
    {{#each failedModules as |mod|}}
      {{module-results mod=mod}}
    {{/each}}
    {{#each passedOrNotRunModules as |mod|}}
      {{module-results mod=mod}}
    {{/each}}
  </ol>
</div>

{{layout-chooser currentLayout=currentLayout selectCurrentLayout=(action 'selectCurrentLayout')}}

<iframe class="tests-window" src="http://localhost:4200/tests"></iframe>